.cyberbullying-warning {
    position: absolute;
    background: rgba(49, 113, 211, 1);
    color: #fff;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
}

.view-override {
    text-decoration: underline;
    cursor: pointer;
}